body,
html {
  font-optical-sizing: auto;
  height: 100%;
}

html body #wpcontent {
  padding-left: 0;
  transition: margin 100ms ease;
}
#adminmenuback,
#adminmenuwrap {
  transition: width 100ms ease;
}

#wp-starter-kit-root {
  direction: ltr;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-size: 16px;
  isolation: isolate;
}

a:focus {
  box-shadow: initial;
}

/* ::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: #a9a9a9b8;
}

::-webkit-scrollbar {
  width: 0.4em;
  padding: 20px;
} */

body #wpwrap {
  background: black;
  display: flex;
  flex-direction: column;
}
body #wpcontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: white;
  margin-right: 4px;
  margin-bottom: 4px;
}
